@model WalletViewModel
@{
ViewData["Title"] = "Your Wallet";
}

@section Scripts{
    <script>
        $('.wallet-trigger').addClass('active opening')
        $('.wallet-trigger').next('.sidebar-opened').addClass('active')
    </script>
}
<div class="main-content">
<h1>@ViewData["Title"]</h1>
<div class="breadcrumbs">
    <a href="#">Home</a>
    <span>SPX WALLET</span>
</div>
@{await Html.RenderPartialAsync("_Wallet");}
<div class="withdraw-title">Send your Sp8de (SPX) to the address in the field bellow!</div>
<div class="deposit-line">
                               <div class="code-deposit-wrapper">
                                   <div id="ETHWalletCode" class="qr-wrap qr-image" title="@Model.Address">
            </div>
                               </div>
                               <div class="deposit-content qr-code-block">
                                    <input id="ethadress" type="text" class=" input-address input-type-text withdraw-eth withdraw-eth-code" required="" disabled value="@Model.Address">
                                    <div class="flex-line line-btns deposit-buttons deposit-line-flex">
                                            <button class="main-btn green-btn button-class copy-elem copy-btn">COPY ADDRESS</button>
                                            <a href="~/wallet/withdraw" class="main-btn white-btn icon-white-up">WITHDRAW YOUR SPX TOKENS</a>
                                        </div>
                                    <div class="deposit-desc">
                                            Send any amount to the address. The system will calculate at the rate<br>
                                            above, generate and send you tokens! It can take up to 3 hours until you<br>
                                            get SPX in your wallet
                                    </div>
                               </div>
                           </div>

</div>


