@model WalletViewModel
@{
ViewData["Title"] = "Wallet";
}

@section Scripts{
}

<div class="info-blocks d-block d-md-flex">
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name">Current balance</div>
			<div class="value">@Model.Balance SPX</div>
        </div>
    </div>
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name"></div>
            <div class="value"></div>
        </div>
    </div>
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name"></div>
            <div class="value"></div>
        </div>
    </div>
</div>
<div class="qr-code-block">
    <div class="titl">
        <div>
            Send your Sp8de (SPX) to the address in the field bellow!
        </div>
    </div>
    <div class="info row">
        <div class="qr col-12 col-sm-4 col-md-6 col-lg-3">
            <div id="ETHWalletCode" class="qr-wrap qr-image" title="@Model.Address">
            </div>
        </div>
        <div class="instructions col-12  col-sm-8 col-md-6 col-lg-9">
            <div class="input-div"><input type="text" class="form-control input-address" disabled value="@Model.Address">
            </div>
            <div class="button-div">
                <div>
                    <button class="btn btn-info copy-btn">Copy address
                    </button>
                </div>
                <div>
                    <button  class="CreateWithdrawalRequest btn btn-info">Withdraw your SPX tokens
                    </button>
                </div>
            </div>
            <div class="text">Send any amount of SPX to the address.</div>
        </div>
    </div>
</div>

