@model WalletViewModel
@{
ViewData["Title"] = "Wallet";
}

@section Scripts{
}

<div class="info-blocks d-block d-md-flex">
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name">Current balance</div>
			<div class="value">@Model.Balance SPX</div>
        </div>
    </div>
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name"></div>
            <div class="value"></div>
        </div>
    </div>
    <div class="info-block col-12 col-md-4">
        <div class="inside-info">
            <div class="name"></div>
            <div class="value"></div>
        </div>
    </div>
</div>
<div class="qr-code-block">
    <div class="titl">
        <div>
            Send your Sp8de (SPX) to the address in the field bellow!
        </div>
    </div>
    <div class="info row address">
        <div class="qr col-12 col-sm-4 col-md-6 col-lg-3">
            <div id="ETHWalletCode" class="qr-wrap qr-image" title="@Model.Address">
            </div>
        </div>
        <div class="instructions col-12  col-sm-8 col-md-6 col-lg-9">
            <div class="input-div"><input type="text" class="form-control input-address" disabled value="@Model.Address">
            </div>
            <div class="button-div">
                <div>
                    <button class="btn btn-info copy-btn">Copy address
                    </button>
                </div>
                <div>
                    <button  class="toogleWithdraw btn btn-info">Withdraw your SPX tokens
                    </button>
                </div>
            </div>
            <div class="text">Send any amount of SPX to the address.</div>
        </div>
    </div>
    <div class="info row withdraw">
        <div class="instructions col-12">
            <form class="withdrawForm"
                  asp-page="/Wallet/CreateWithdrawalRequest"
                    onsubmit="return CreateWithdrawalRequest();">
                <div class=" row">
                        <div class="input-div col-12 col-md-4">
                            <div>Amount</div>
                            <input type="number"
                                   required
                                   name="Amount"
                                   class="amount form-control input-address"
                                   placeholder="Amount">
                            <input type="hidden"
                                   name="Currency"
                                   value="SPX">
                        </div>
                        <div class="input-div col-12 col-md-4">
                            <div>Wallet</div>
                            <input type="text"
                                   required
                                   pattern="^(0x)?[0-9a-f]{40}$"
                                   name="Wallet"
                                   class="wallet form-control input-address"
                                   placeholder="Wallet"
                                   value="0xsdfefdwe4r534ec342r2wdsa">
                        </div>
                        <div class="input-div col-12 col-md-4">
                            <div>Google 2FA</div>
                            <input type="number"
                                   required
                                   class="tfa form-control input-address"
                                   name="TwoFactorCode"
                                   placeholder="Google 2FA"
                                   value="">
                        </div>
                </div>
                <div class="button-div row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-info copy-btn CreateWithdrawalRequest">Withdraw your SPX tokens
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

