@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
<h1>ACCOUNT SETTING</h1>
<div class="breadcrumbs">
                            <a href="#">Home</a>
                            <span>MANAGE PROFILE</span>
                            <span>PASSWORD INFORMATION</span>
                        </div>
                        <div class="account-content">

            <partial name="_ManageNav"/>
            <div class="account-info">
            @RenderBody()
            </div>
</div>
</div>

@section Scripts {
@RenderSection("Scripts", required: false)
}
