@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div  class="account-title">@ViewData["Title"]</div>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<form id="change-password-form" method="post">
    <div class="inputs-all-account" asp-validation-summary="All">
    <div class="single-input single-input-simple account-single-input">
        <div class="single-input-title">Current password</div>
        <div class="input-wrapper">
            <input type="text" class="input-type-text withdraw-aviable" asp-for="Input.OldPassword" required="">
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
    </div>
        <div class="single-input single-input-simple account-single-input">
            <div class="single-input-title">New password</div>
            <div class="input-wrapper">
                <input type="text" asp-for="Input.NewPassword" class="input-type-text withdraw-aviable" required="">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
    </div>
        <div class="single-input single-input-simple account-single-input">
            <div class="single-input-title">Confirm new password</div>
            <div class="input-wrapper">
                <input type="text" asp-for="Input.ConfirmPassword" class="input-type-text withdraw-aviable" required="">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button class="main-btn green-btn gradient-btn withdraw-submit">SAVE YOUR INFORMATION</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.settings-trigger').addClass('active opening')
        $('.settings-trigger').next('.sidebar-opened').addClass('active')
    </script>
}
