@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<div class="account-title">@ViewData["Title"]</div>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<form id="profile-form" method="post">
<div asp-validation-summary="All" class="text-danger"></div>
<div class="single-input single-input-simple">
    <div class="single-input-title">Username</div>
    <div class="input-wrapper">
        <input type="text" class="input-type-text withdraw-aviable" required="" disabled="" asp-for="Username">
    </div>
</div>
<div class="line-flex line-flex-aife account-line">
@if (Model.IsEmailConfirmed)
                {
                    <div class="single-input single-input-simple">
                        <div class="single-input-title">Email</div>
                            <div class="input-wrapper">
                                <input asp-for="Input.Email" type="text" class="input-type-text withdraw-aviable" required="">
                            </div>
                    </div>
                }
                else
                {
                        <div class="single-input">
                            <div class="single-input-title">Email</div>
                            <div class="input-wrapper">
                                <input asp-for="Input.Email" type="text" class="input-type-text withdraw-aviable" required="">
                            </div>
                        </div>
                        <button asp-page-handler="SendVerificationEmail" id="email-verification" class="main-btn green-btn border-btn account-btn">Sent verefication code to email</button>
                }
</div>
<div class="line-flex line-flex-aife account-line">
    <div class="single-input single-input-simple">
        <div class="single-input-title">Phone</div>
        <div class="input-wrapper">
            <input type="text" class="input-type-text withdraw-aviable" required="">
        </div>
    </div>
    </div>
    <button class="main-btn green-btn gradient-btn withdraw-submit">SAVE YOUR INFORMATION</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.settings-trigger').addClass('active opening')
        $('.settings-trigger').next('.sidebar-opened').addClass('active')
    </script>
}
