<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Sp8de.Manager.Web</title>
    <style>
        #Input_TwoFactorCode{
            color: #000;
        }
    </style>

	<link rel="stylesheet" href="~/css/fonts.css" />
	<link rel="stylesheet" href="~/css/style2.css" />

</head>
<body>
	<header class="header">
		<a href="/" class="logo-title">sp8de</a>
		<div class="right-side-header">
			@{await Html.RenderPartialAsync("_LoginPartial"); }
		</div>
		<svg class="ham hamRotate ham8 burger" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
			<path
					class="line top"
					d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
			<path
					class="line middle"
					d="m 30,50 h 40" />
			<path
					class="line bottom"
					d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
		</svg>
	</header>
	<div class="main-columns @ViewData["PageClass"] ">
            <div class="left-column">
				<div class="sidebar">
    <div class="sidebar-title">main MENU</div>
    <div class="sidebar-main">
        <span class="sidebar-btn sidebar-open wallet-trigger">
            <span class="image-wrapper-sidebar-icon">
                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" width="24.8px" height="20.2px" viewBox="0 0 24.8 20.2" style="enable-background:new 0 0 24.8 20.2;"
                    xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #FFFFFF;
                        }

                    </style>
                    <g>
                        <path class="st0" d="M23.6,7V3.7c0-2-1.7-3.7-3.7-3.7H3.7C1.7,0,0,1.7,0,3.7v12.8c0,2,1.7,3.7,3.7,3.7h16.2c2,0,3.7-1.6,3.7-3.7v-3
                       c0.7-0.5,1.2-1.2,1.2-2.1V9C24.8,8.2,24.3,7.4,23.6,7z M23.3,11.4c0,0.6-0.5,1-1,1h-7.6c-0.6,0-1-0.5-1-1V9c0-0.6,0.5-1,1-1h7.6
                       c0.6,0,1,0.5,1,1V11.4z M19.9,18.7H3.7c-1.2,0-2.2-1-2.2-2.2V3.7c0-1.2,1-2.2,2.2-2.2h16.2c1.2,0,2.2,1,2.2,2.2v2.9h-7.4
                       c-1.3,0-2.5,1.2-2.5,2.5v2.4c0,1.3,1.2,2.5,2.5,2.5h7.4v2.6C22.1,17.7,21.1,18.7,19.9,18.7z" />
                        <path class="st0" d="M14.9,9.7c-0.2,0.1-0.2,0.4-0.2,0.6c0,0.2,0,0.5,0.2,0.5c0.1,0.1,0.4,0.3,0.6,0.3c0.2,0,0.3-0.2,0.5-0.3
                       c0.1,0,0.3-0.3,0.3-0.5c0-0.3-0.1-0.4-0.3-0.6C15.7,9.4,15.2,9.4,14.9,9.7z" />
                    </g>
                </svg>

            </span>
            <span class="sidebar-btn-title">YOUR SPX WALLET</span>
        </span>
        <div class="sidebar-opened">
            <a href="~/wallet/deposit">Deposit SPX tokens</a>
            <a href="~/wallet/withdraw">Withdraw SPX tokens</a>
        </div>
        <a href="~/Transaction" class="sidebar-btn transactions-trigger">
            <span class="image-wrapper-sidebar-icon">
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24.8px" height="20.2px" viewBox="0 0 24.8 20.2" style="enable-background:new 0 0 24.8 20.2;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:#FFFFFF;}
               </style>
               <g>
                   <g>
                       <g>
                           <g>
                               <g>
                                   <g>
                                       <path class="st0" d="M21.4,2.9H10.5c-0.5,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h10.9c0.5,0,0.8,0.3,0.8,0.8
                                           C22.2,2.6,21.9,2.9,21.4,2.9z"/>
                                   </g>
                                   <g>
                                       <path class="st0" d="M21.4,10.9H10.5c-0.5,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h10.9c0.5,0,0.8,0.3,0.8,0.8
                                           C22.2,10.6,21.9,10.9,21.4,10.9z"/>
                                   </g>
                                   <g>
                                       <path class="st0" d="M21.4,18.9H10.5c-0.5,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h10.9c0.5,0,0.8,0.3,0.8,0.8
                                           C22.2,18.6,21.9,18.9,21.4,18.9z"/>
                                   </g>
                               </g>
                           </g>
                           <g>
                               <g>
                                   <path class="st0" d="M4.5,3.7c-0.3,0-0.6-0.2-1-0.3L2.9,2.8C2.6,2.5,2.6,2,2.9,1.7s0.8-0.3,1.1,0L4.3,2l1.1-1.3
                                       c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1L5.1,3.2C5.1,3.6,4.8,3.7,4.5,3.7L4.5,3.7z"/>
                               </g>
                               <g>
                                   <path class="st0" d="M4.5,11.7c-0.3,0-0.6-0.2-1-0.3l-0.6-0.6c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0L4.3,10l1.1-1.3
                                       c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-1.4,1.4C5.1,11.6,4.8,11.7,4.5,11.7L4.5,11.7z"/>
                               </g>
                               <g>
                                   <path class="st0" d="M4.5,19.7c-0.3,0-0.6-0.2-1-0.3l-0.6-0.6c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0L4.3,18l1.1-1.3
                                       c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-1.4,1.4C5.1,19.6,4.8,19.7,4.5,19.7L4.5,19.7z"/>
                               </g>
                           </g>
                       </g>
                   </g>
               </g>
               </svg>
            </span>
            <span class="sidebar-btn-title">Transaction history</span>
        </a>
        <!-- <span class="sidebar-btn sidebar-open">
            <span class="image-wrapper-sidebar-icon">
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24.8px" height="21.2px" viewBox="0 0 24.8 21.2" style="enable-background:new 0 0 24.8 21.2;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:#FFFFFF;}
               </style>
               <g>
                   <g>
                       <g>
                           <g>
                               <path class="st0" d="M13.7,19.3L13.7,19.3c-1,0-1.6-0.4-1.7-0.4c-0.1,0-0.2-0.2-0.2-0.2c0-0.2-0.5-0.8-0.4-1.8
                                   C10.2,16.7,9.2,16,8,15C7,14,6.4,12.8,6.2,11.6c-1.1,0-1.8-0.4-1.8-0.4c-0.2,0-0.2-0.2-0.2-0.2c-0.2-0.2-1.7-2.8,2-6.5
                                   c1.6-1.6,3.3-1.8,4.6-0.8l0,0c0.2-0.2,0.4-0.4,0.5-0.4c3.2-2.6,5.8-3,7.5-3c2,0,3,0.8,3,0.8c0.2,0,0.2,0.2,0.2,0.2
                                   c0.2,0.2,2.6,4.4-2.4,10.5l0,0c-0.2,0.2-0.2,0.2-0.4,0.5l0,0c1.1,1.4,0.8,3-0.8,4.6C16.5,18.8,14.8,19.3,13.7,19.3z M12.7,17.8
                                   c0.2,0.2,0.5,0.2,1,0.2l0,0c0.8,0,2.3-0.4,4-2c1.6-1.6,1-2.7,0.4-3.3c-0.4-0.4-0.2-0.8,0.4-1.2c0.2-0.2,0.2-0.2,0.2-0.2
                                   s0-0.2,0.2-0.2c4-5,2.8-8.3,2.4-9.1c-0.2-0.2-1.1-0.5-2.3-0.5c-1.4,0-3.9,0.5-6.8,2.9c0,0-0.2,0-0.2,0.2c-0.2,0-0.2,0.2-0.2,0.2
                                   c-0.5,0.4-0.6,0.5-0.8,0.5l0,0c-0.2,0-0.4-0.2-0.5-0.2c-1-1-2-0.8-3.3,0.4c-2.6,2.6-2.2,4.4-2,4.9c0.2,0.2,0.8,0.2,1.6,0.2
                                   c0.2,0,0.4,0,0.5,0.2c0.2,0.2,0.2,0.2,0.2,0.5c0,1.1,0.5,2.2,1.6,3.2c1,1,2,1.6,3.2,1.6c0.2,0,0.4,0.2,0.5,0.2
                                   c0.2,0.2,0.2,0.4,0.2,0.5C12.5,17.1,12.6,17.6,12.7,17.8z"/>
                           </g>
                           <g>
                               <path class="st0" d="M3.4,20.1c-0.2,0-0.4,0-0.5-0.2c-0.2-0.2-0.2-0.6,0-0.8l3-3c0.2-0.2,0.6-0.2,0.8,0c0.2,0.2,0.2,0.6,0,0.8
                                   l-2.9,2.9C3.8,20,3.6,20.1,3.4,20.1z"/>
                           </g>
                           <g>
                               <path class="st0" d="M2.7,16.2c-0.2,0-0.4,0-0.5-0.2c-0.2-0.2-0.2-0.6,0-0.8l1.6-1.6c0.2-0.2,0.6-0.2,0.8,0
                                   c0.2,0.2,0.2,0.6,0,0.8L3,16.1C3,16.2,2.8,16.2,2.7,16.2z"/>
                           </g>
                           <g>
                               <path class="st0" d="M7.3,20.9c-0.2,0-0.4,0-0.5-0.2c-0.2-0.2-0.2-0.6,0-0.8l1.6-1.6c0.2-0.2,0.6-0.2,0.8,0
                                   c0.2,0.2,0.2,0.6,0,0.8l-1.6,1.6C7.5,20.9,7.4,20.9,7.3,20.9z"/>
                           </g>
                           <g>
                               <path class="st0" d="M14.9,10.8c-0.8,0-1.4-0.2-2-0.8c-1.1-1.1-1.1-2.8,0-3.9s2.9-1.1,3.9,0c0.5,0.5,0.8,1.2,0.8,2
                                   c0,0.8-0.2,1.4-0.8,2C16.4,10.4,15.6,10.8,14.9,10.8z M14.9,6.5c-0.4,0-0.8,0.2-1.1,0.5c-0.6,0.6-0.6,1.6,0,2.2
                                   c0.6,0.6,1.6,0.6,2.2,0c0.2-0.2,0.5-0.8,0.5-1.1c0-0.4-0.2-0.8-0.5-1.1C15.8,6.8,15.4,6.5,14.9,6.5z"/>
                           </g>
                       </g>
                   </g>
               </g>
               </svg>
            </span>
            <span class="sidebar-btn-title">DEMO GAMES</span>
        </span> -->
        <!-- <div class="sidebar-opened">
            <a href="#">Slot machine</a>
            <a href="#">Pachisi Cash™</a>
            <a href="#">Borchersword 3,000</a>
        </div> -->
        <a href="~/ApiKey" class="sidebar-btn api-trigger">
            <span class="image-wrapper-sidebar-icon">
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24.8px" height="21.2px" viewBox="0 0 24.8 21.2" style="enable-background:new 0 0 24.8 21.2;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:#FFFFFF;}
               </style>
               <g>
                   <g>
                       <g>
                           <g>
                               <path class="st0" d="M9.5,20.2c-2,0-3.8-1-5-2.7c-1.3-2-1.3-4.6,0.2-6.6c1.2-1.5,2.8-2.5,4.8-2.5c0.7,0,1.5,0.1,2.2,0.4L14.6,6
                                   l-1.3-1.3c-0.7-0.7-0.7-1.7,0-2.3l0.9-0.9c0.6-0.6,1.7-0.6,2.3,0l1.3,1.3l0.4-0.4c0.6-0.6,1.7-0.6,2.3,0l0.9,0.9
                                   c0.7,0.7,0.7,1.7,0,2.3l-6.6,6.6c0.8,2.2,0.4,4.6-1.3,6.2C12.5,19.6,11.2,20.2,9.5,20.2z M9.5,9.6c-1.5,0-2.9,0.7-3.8,2
                                   c-1.2,1.5-1.2,3.7-0.1,5.4c0.9,1.4,2.3,2.2,3.9,2.2c1.3,0,2.5-0.4,3.3-1.4c1.4-1.4,1.7-3.6,0.9-5.4c-0.1-0.2-0.1-0.4,0.1-0.7
                                   l7-7C21,4.5,21,4.1,20.8,4L19.9,3c-0.2-0.2-0.6-0.2-0.7,0L18.2,4c-0.2,0.2-0.6,0.2-0.8,0l-1.9-1.9c-0.2-0.2-0.6-0.2-0.7,0
                                   L13.8,3c-0.2,0.2-0.2,0.6,0,0.7l1.7,1.7c0.1,0.1,0.1,0.2,0.1,0.4c0,0.2-0.1,0.4-0.1,0.4L12,10c-0.1,0.2-0.4,0.2-0.7,0.1
                                   C10.9,9.7,10.2,9.6,9.5,9.6z"/>
                           </g>
                           <g>
                               <path class="st0" d="M9.5,16.6c-0.6,0-1.2-0.2-1.6-0.7c-0.4-0.5-0.7-1-0.7-1.6c0-0.6,0.2-1.2,0.7-1.6c0.9-0.9,2.5-0.9,3.3,0
                                   c0.4,0.4,0.7,1,0.7,1.6c0,0.6-0.2,1.2-0.7,1.6C10.7,16.3,10.1,16.6,9.5,16.6z M9.5,13.1c-0.4,0-0.6,0.1-0.8,0.4
                                   c-0.2,0.2-0.4,0.4-0.4,0.8s0.1,0.6,0.4,0.8c0.4,0.4,1.2,0.4,1.6,0c0.2-0.2,0.4-0.4,0.4-0.8s-0.1-0.6-0.4-0.8
                                   C10.1,13.2,9.9,13.1,9.5,13.1z"/>
                           </g>
                       </g>
                   </g>
               </g>
               </svg>
            </span>
            <span class="sidebar-btn-title">Api Keys</span>
        </a>
        <!-- <span class="sidebar-btn sidebar-open">
            <span class="image-wrapper-sidebar-icon">
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24.8px" height="21.2px" viewBox="0 0 24.8 21.2" style="enable-background:new 0 0 24.8 21.2;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:#FFFFFF;}
               </style>
               <path class="st0" d="M20.4,4h-3.1V2.4c0-1.3-1.1-2.4-2.4-2.4h-4.6C8.8,0,7.8,1.1,7.8,2.4V4H4.5C2.6,4,1.1,5.4,1.1,7.3v10.6
                   c0,1.8,1.5,3.3,3.3,3.3h15.9c1.9,0,3.3-1.5,3.3-3.3V7.3C23.7,5.4,22.2,4,20.4,4z M9.1,2.4c0-0.7,0.6-1.1,1.1-1.1h4.6
                   c0.7,0,1.1,0.6,1.1,1.1V4H9.1V2.4z M4.5,5.3h15.9c1.1,0,2,0.9,2,2v3.3H17V9.9c0-0.4-0.2-0.7-0.7-0.7s-0.7,0.2-0.7,0.7v0.7H9.1V9.9
                   c0-0.4-0.2-0.7-0.7-0.7S7.8,9.5,7.8,9.9v0.7H2.5V7.3C2.5,6.2,3.4,5.3,4.5,5.3z M20.4,19.9H4.5c-1.1,0-2-0.9-2-2v-6h5.3v0.7
                   c0,0.4,0.2,0.7,0.7,0.7s0.7-0.2,0.7-0.7v-0.7h6.6v0.7c0,0.4,0.2,0.7,0.7,0.7S17,13,17,12.6v-0.7h5.3v6
                   C22.3,18.9,21.4,19.9,20.4,19.9z"/>
               </svg>

            </span>
            <span class="sidebar-btn-title">Documentation</span>
        </span>
        <div class="sidebar-opened">
            <a href="#">Slot machine</a>
            <a href="#">Pachisi Cash™</a>
            <a href="#">Borchersword 3,000</a>
        </div> -->
        <span class="sidebar-btn sidebar-open settings-trigger">
            <span class="image-wrapper-sidebar-icon">
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24.8px" height="22.7px" viewBox="0 0 24.8 22.7" style="enable-background:new 0 0 24.8 22.7;" xml:space="preserve">
               <style type="text/css">
                   .st0{fill:#FFFFFF;}
               </style>
               <g>
                   <g>
                       <g>
                           <g>
                               <g>
                                   <path class="st0" d="M12.4,14.6c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S14.3,14.6,12.4,14.6z M12.4,9.4
                                       c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2C14.4,10.3,13.5,9.4,12.4,9.4z"/>
                               </g>
                               <g>
                                   <path class="st0" d="M13.3,22.5h-1.7c-0.8,0-1.5-0.7-1.5-1.5v-1.3c-0.5-0.2-1.1-0.4-1.5-0.7c-0.2,0-0.2,0-0.2,0l-0.9,0.9
                                       c-0.5,0.5-1.5,0.5-2.2,0l-1.3-1.3c-0.7-0.7-0.7-1.5,0-2.2l0.9-0.9c0.2-0.2,0-0.2,0-0.2c-0.2-0.4-0.4-0.9-0.5-1.3
                                       c0-0.2-0.2-0.2-0.2-0.2H2.9c-0.8,0-1.5-0.7-1.5-1.5v-1.7c0-0.8,0.7-1.5,1.5-1.5h1.1c0.2,0,0.2-0.2,0.2-0.2
                                       c0.2-0.5,0.4-0.9,0.5-1.3c0-0.2,0-0.2,0-0.2L3.9,6.3c-0.7-0.7-0.7-1.5,0-2.2l1.3-1.3c0.5-0.5,1.5-0.5,2.2,0l0.9,0.9
                                       c0.2,0.2,0.2,0.2,0.2,0c0.4-0.2,0.9-0.4,1.3-0.5C10,3.2,10,3.1,10,3V1.8c0-0.8,0.7-1.5,1.5-1.5h1.7c0.8,0,1.5,0.7,1.5,1.5V3
                                       c0,0.2,0.2,0.2,0.2,0.2c0.4,0.2,0.9,0.4,1.3,0.5c0.2,0,0.2,0,0.2,0l0.9-0.9c0.5-0.5,1.5-0.5,2.2,0l1.3,1.3
                                       c0.7,0.7,0.7,1.5,0,2.2L20,7.2c-0.2,0.2,0,0.2,0,0.2c0.2,0.4,0.4,0.9,0.5,1.3c0,0.2,0.2,0.2,0.2,0.2h1.1c0.8,0,1.5,0.7,1.5,1.5
                                       v1.7c0,0.8-0.7,1.5-1.5,1.5h-1.1c-0.2,0-0.2,0.2-0.2,0.2c-0.2,0.5-0.4,0.9-0.5,1.3c0,0.2,0,0.2,0,0.2l0.9,0.9
                                       c0.7,0.7,0.7,1.5,0,2.2l-1.3,1.3c-0.5,0.5-1.5,0.5-2.2,0l-0.9-0.9c-0.2-0.2-0.2-0.2-0.2,0c-0.4,0.2-0.9,0.4-1.3,0.5
                                       c-0.2,0-0.2,0.2-0.2,0.2v1.1C14.8,21.8,14.2,22.5,13.3,22.5z M8.5,17.6c0.2,0,0.5,0,0.8,0.2c0.5,0.2,1.1,0.5,1.7,0.7
                                       c0.2,0.2,0.5,0.4,0.5,0.7v1.8c0,0.2,0.2,0.2,0.2,0.2h1.7c0.2,0,0.2-0.2,0.2-0.2v-1.1c0-0.7,0.4-1.3,1.1-1.5
                                       c0.4-0.2,0.8-0.2,1.1-0.5c0.7-0.2,1.3-0.2,1.8,0.2l0.9,0.9c0.2,0.2,0.2,0.2,0.2,0l1.3-1.3c0.2-0.2,0.2-0.2,0-0.2l-0.9-0.9
                                       c-0.5-0.5-0.5-1.1-0.2-1.8c0.2-0.4,0.4-0.8,0.5-1.1c0.2-0.7,0.8-1.1,1.5-1.1h1.1c0.2,0,0.2-0.2,0.2-0.2v-1.7
                                       c0-0.2-0.2-0.2-0.2-0.2h-1.1c-0.7,0-1.3-0.4-1.5-1.1C19.3,8.8,19.2,8.4,19,8c-0.2-0.7-0.2-1.3,0.2-1.8l0.9-0.9
                                       c0.2-0.2,0.2-0.2,0-0.2l-1.3-1.3c-0.2-0.2-0.2-0.2-0.2,0l-0.9,0.9c-0.5,0.4-1.1,0.5-1.8,0.2c-0.4-0.2-0.8-0.4-1.1-0.5
                                       c-0.7-0.2-1.1-0.8-1.1-1.5V1.8c0-0.2-0.2-0.2-0.2-0.2h-1.7c-0.2,0-0.2,0.2-0.2,0.2V3c0,0.7-0.4,1.3-1.1,1.5
                                       C10,4.6,9.6,4.7,9.3,4.9C8.6,5.2,8,5.2,7.5,4.7L6.6,3.8c-0.2-0.2-0.2-0.2-0.2,0L5,5.1C4.9,5.3,4.9,5.3,5,5.3l0.9,0.9
                                       C6.4,6.7,6.4,7.4,6.2,8C6,8.4,5.8,8.8,5.7,9.2c-0.2,0.7-0.8,1.1-1.5,1.1H3.1c-0.2,0-0.2,0.2-0.2,0.2v1.7c0,0.2,0.2,0.2,0.2,0.2
                                       h1.1c0.7,0,1.3,0.4,1.5,1.1c0.2,0.4,0.2,0.8,0.5,1.1c0.2,0.7,0.2,1.3-0.2,1.8L5,17.3c-0.2,0.2-0.2,0.2,0,0.2l1.3,1.3
                                       c0.2,0.2,0.2,0.2,0.2,0L7.5,18C7.6,17.7,8,17.6,8.5,17.6z"/>
                               </g>
                           </g>
                       </g>
                   </g>
               </g>
               </svg>

            </span>
            <span class="sidebar-btn-title">SETTINGS</span>
        </span>
        <div class="sidebar-opened">
            <a href="~/Identity/Account/Manage">Profile</a>
            <a href="~/Identity/Account/Manage/ChangePassword">Password</a>
            <a href="~/Identity/Account/Manage/TwoFactorAuthentication">Authentication</a>
            <a href="~/Identity/Account/Manage/PersonalData">Delete</a>
        </div>
    </div>
    <div class="welcome-title-header sidebar-mob-welcome">HELLO, Cooper@gmail.com</div>
    <a href="#" class="logout-btn sidebar-logout-btn">LOGOUT</a>
</div>

		<!-- <div class="hidden-login collapse d-md-none" id="hidden-login">
			<div class="login">
				<div class="input name ">
					<input type="email" class="form-control" placeholder="login">
				</div>
				<div class="input password">
					<input type="password" class="form-control" placeholder="password">
				</div>
				<div class="join">
					<button class="btn btn-primary">Login2</button>
				</div>
			</div>
		</div> -->
		</div>
		<div class="right-column">
			<partial name="_CookieConsentPartial" />
					@RenderBody()
			<footer class="footer">
				<div class="footer-text">
						© 2018 Copyright SP8DE | CHA0S PROTOCOL
				</div>
			</footer>
		</div>
			<!-- <div class="nav-container">
				<div class="sand d-block d-lg-none">
					<a data-toggle="collapse"
					   data-target="#menu"
					   aria-expanded="false"
					   aria-controls="menu">
						<i class="material-icons">
							menu
						</i>
					</a>
					<nav class="small-menu left-column collapse" id="menu">
						<div><a href="~/Wallet"> SPX Wallet(deposit / withdraw)</a></div>
						<div><a href="~/Transaction"> Transaction history</a></div>
						<div><a href="~/ApiKey"> Api Keys</a></div>
						<div><a href="~/#"> Geting Started</a></div>
						<div>
							<a href="~/Home/Documentation">Documentation </a></div>
								<div><a href="~/Identity/Account/Manage">Manage Profile
							</a>
						</div>
					</nav>
				</div>
				<nav class="large-menu left-column d-none d-lg-block">
					<div>
						<a href="~/Wallet"> SPX Wallet(deposit / withdraw)</a>
					</div>
					<div><a href="~/Transaction">Transaction history</a></div>
					<div><a href="~/ApiKey">Api Keys</a></div>
					<div><a href="~/#">Geting Started</a></div>
					<div><a href="~/Home/Documentation">Documentation</a></div>
					<div><a href="~/Identity/Account/Manage">Manage Profile</a></div>
				</nav>
			</div> -->

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="~/Index" class="navbar-brand">Sp8de.Manager.Web</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="~/Index">Home</a></li>
					<li><a href="~/About">About</a></li>
					<li><a href="~/Contact">Contact</a></li>
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>
	 -->

	<environment>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
				crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
				integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
				crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
				integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
				crossorigin="anonymous"></script>
		<script src="~/js/site.js"></script>
		<script src="~/lib/qrcode/qrcode.js"></script>
		<script src="~/js/main.js"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
