@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
				<a  class="welcome-title-header"asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
				<button type="submit" class="logout-btn">Logout</button>
	</form>
}
else
{
	<div>
		<a asp-area="Identity" class="btn btn-primary" asp-page="/Account/Register">Register</a>  
		<a style="margin-left:10px" asp-area="Identity" class="btn btn-primary" asp-page="/Account/Login">Login</a>
	</div>
}