
<div class="wallet-line">
    <div class="slider-wrapper">
        <div class="wallet-single-block wallet-money">
            <div class="wallet-my-money"><span class="currencyTok">@Model.Balance</span> <span>SPX</span></div>
            <div class="wallet-my-money-up">+ 0.85400070</div>
            <div class="coins-value">
                <div class="single-coin-value">= $ <span class="spx-to-dollar"></span></div>
                <div class="single-coin-value">= BTC 145,01</div>
                <div class="single-coin-value">= ETH 37,00305 </div>
            </div>
            <img src="~/img/girl.png" class="girl-wallet">
        </div>
    </div>
    <div class="slider-wrapper">
        <div class="wallet-single-block wallet-chart">
            <div class="wallet-chart-spx">
                <span>1 SPX TOKEN =</span>
            </div>
            <div class="wallet-chart-spx-line">
                <div class="wallet-chart-spx-value">
                    <span>$ <strong></strong><span></span></span>
                </div>
                <div class="wallet-chart-spx-value-up">
                    <div class="time-charts-change">
                        <div class="time-charts-change-single mounth">1m</div>
                        <div class="time-charts-change-single hours active">24h</div>
                    </div>
                    <span>+</span> 9.15<span>%</span>
                </div>
            </div>
            <div style="height: 76px; margin-left: -10px;">
                <canvas id="chart" data-charthour="15, 12, 23, 11, 12, 11, 14, 8, 9, 21" data-chartmounth="15, 19, 33, 3, 11, 11, 14, 38, 12, 11" class="wallet-chart-graf"></canvas>
            </div>
        </div>
    </div>
    <div class="slider-wrapper">
        <div class="wallet-single-block wallet-jackpot">
            <div class="wallet-my-money"><span>$</span> 5,496,775,757</div>
            <div class="loader-jackpot">
                <div class="loader-jackpot-line"></div>
            </div>
            <div class="wallet-jackpot-text">
                <span class="green-color">Full jackpot</span> of <a href="#" class="link-a">all games</a><br>
                SP8DE’s SPX TOKEN
            </div>
        </div>
    </div>
    </div>
