@model Sp8de.Common.Interfaces.ApiSecretInfo
@{
    ViewData["Title"] = "Generate";
}

<div class="main-content">
    <h1>@ViewData["Title"]</h1>
    <div class="breadcrumbs">
        <a href="#">home</a>
        <span>GENERATED API KEY</span>
    </div>
    <div class="new-api-key">
    <div class="single-new-api">
        <div class="title-single-new-api">API Key</div>
        <div class="content-single-new-api">@Model.ApiKey</div>
    </div>
    <div class="single-new-api">
        <div class="title-single-new-api">API Secret</div>
        <div class="content-single-new-api">@Model.ApiSecret</div>
    </div>
</div>
<a href="~/ApiKey" class="main-btn button-class padding-left back-btn">GO TO LIST</a>
</div>
