@model Sp8de.Common.Interfaces.ApiSecretInfo
@{
    ViewData["Title"] = "Generate";
}

<h2>Generate</h2>

<p>Please write it. You can get it again.</p>

<ul>
    <li>ApiKey: @Model.ApiKey</li>
    <li>ApiSecret :@Model.ApiSecret</li>
</ul>

<a href="~/ApiKey">List</a>