@model List<Sp8de.Common.Interfaces.ApiSecretInfo>
@{
    ViewData["Title"] = "Api Keys";
}
<p>
    <a class="btn btn-info" href="/ApiKey/Generate">Generate</a>
</p>

<div class="api-table-block">
    <table class="api-table">
        <tr>
            <td>Title</td>
            <td>Api Key</td>
            <td>Api Secret</td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td></td>
            <td>@item.ApiKey</td>
            <td>@item.ApiSecret ...</td>
            <td><a class="btn btn-info btn-sm" href="#revoke">Revoke</a></td>
        </tr>
        }
    </table>
</div>
