@model List<Sp8de.Common.Interfaces.ApiSecretInfo>
@{
    ViewData["Title"] = "Api Keys";
}

@section Scripts{
    <script>
        $('.api-trigger').addClass('active')
    </script>
}
<div class="main-content transactions-table-content-main">
<h1>@ViewData["Title"]</h1>
    <div class="breadcrumbs">
        <a href="#">Home</a>
        <span>Transaction history</span>
    </div>
    <a href="/ApiKey/Generate" class="main-btn green-btn button-class api-gen-btn">GENERATE NEW API KEY</a>
<div class="all-api-wrapper">
        <div class="all-api">
            @foreach (var item in Model)
        {
            <form action="" class="single-api">
                <table>
                    <thead>
                        <th>Title</th>
                        <th>API Key</th>
                        <th>API Secret</th>
                    </thead>
                    <tbody>
                        <td></td>
                        <td>@item.ApiKey</td>
                        <td>@item.ApiSecret ...</td>
                    </tbody>
                </table>
                <button class="main-btn button-class padding-left revoke-btn">REVOKE API KEY</button>
            </form>
        }
        </div>
        </div>
</div>