@{
ViewData["Title"] = "Documentation";
}
<div class="documentation">
    <div class="server-api"><a href="~/home/serverapi"><h3>Sp8de server API</h3></a></div>
    <div class="client-api"><a href="~/home/clientapi"><h3>Sp8de client SDK</h3></a></div>
</div>
