@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4 col-sm-12">
        <h2>Wallets</h2>
        <ul>
            <li><a href="~/Wallet">SPX Wallet (deposit / withdraw)</a></li>
            <li><a href="~/Transaction">Transaction history</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-12">
        <h2>Random API</h2>
        <ul>
            <li><a href="~/ApiKey">Api Keys</a></li>
            <li><a href="~/Home/Documentation">Documentation</a></li>
        </ul>
    </div>

    <div class="col-md-4 col-sm-12">
        <h2>Account</h2>
        <ul>
            <li><a href="~/Identity/Account/Manage">Manage Profile</a></li>
        </ul>
    </div>

</div>


