<div class="container">
  <div class="title"><h3>Transaction details</h3></div>
  <div class="hash">{{transaction.hash}}</div>
  <div class="info">
    <table>
      <tbody>
      <tr>
        <td>id</td>
        <td>{{transaction.id}}</td>
      </tr>
      <tr>
        <td>type</td>
        <td>{{transaction.type}}</td>
      </tr>
      <tr>
        <td>hash</td>
        <td>{{transaction.hash}}</td>
      </tr>
      <tr>
        <td>signer</td>
        <td>{{transaction.signer}}</td>
      </tr>
      <tr>
        <td>signature</td>
        <td>{{transaction.signature}}</td>
      </tr>
      <tr>
        <td>status</td>
        <td>{{transaction.status}}</td>
      </tr>
      <tr>
        <td>dependsOn</td>
        <td>{{transaction.dependsOn}}</td>
      </tr>
      <tr>
        <td>timestamp</td>
        <td>{{transaction.timestamp}}</td>
      </tr>
      <tr>
        <td>expiration</td>
        <td>{{transaction.expiration}}</td>
      </tr>
      <tr>
        <td>compleatedAt</td>
        <td>{{transaction.compleatedAt}}</td>
      </tr>
      <tr>
        <td>fee</td>
        <td>{{transaction.fee}}</td>
      </tr>
      <tr>
        <td>internalRoot</td>
        <td>{{transaction.internalRoot}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
