<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Game Demo</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>

	<script type="text/javascript">


		window.onload = function () {

			function concatBuffer(buffer1, buffer2, buffer3) {
				var tmp = new Uint8Array(buffer1.byteLength + buffer2.byteLength + buffer3.byteLength);
				tmp.set(buffer1, 0);
				tmp.set(buffer2, buffer1.byteLength);
				tmp.set(buffer3, buffer1.byteLength + buffer2.byteLength);

				return tmp;
			};

			function getPrnd(array) {
				var r = new Random(Random.engines.mt19937().seedWithArray(array));
				var value = r.bool();
				return value;
			}

			function generateSeed() {
				var rnd = new Uint32Array(2);
				window.crypto.getRandomValues(rnd);
				return rnd[0] * rnd[1];
			}

			function getPubKey(privateKey) {
				return EthJS.Util.addHexPrefix(EthJS.Util.privateToAddress(privateKey).toString('hex'));
			}

			function sing(privateKey, seed, bet) {

				var pubKey = EthJS.Util.addHexPrefix(EthJS.Util.privateToAddress(privateKey).toString('hex'));

				var message = pubKey + ";" + seed + ";" + bet;

				var msg = EthJS.Util.hashPersonalMessage(EthJS.Util.toBuffer(message));

				var signed = EthJS.Util.ecsign(msg, EthJS.Util.toBuffer(privateKey));

				var tx = signed.r.toString('hex') + signed.s.toString('hex') + EthJS.Util.stripHexPrefix(EthJS.Util.intToHex(signed.v));

				var signedMsg = {
					pubKey: pubKey,
					message: message,
					sig: EthJS.Util.addHexPrefix(tx),
					version: '3',
					signer: 'MEW'
				};

				return signedMsg;
			}

			new Vue({
				el: '#app',
				data: {
					playerBet:'',
					message: '1',
					pubKey: '',
					privateKey: '0xd3a7d42d881a9b59ccefcac0f5bcc69f85e68fdf0bfb6fcbbe42373320de420f',
					messageSign: '',
					seedData: '',
					log: ''
				},
				methods: {
					prepareGame: function () {
						var self = this;
						self.seedData = generateSeed();
						var s = sing(self.privateKey, self.seedData, self.playerBet);

						self.messageSign = s.sig;
						self.message = s.message;
						self.pubKey = s.pubKey;
					},
					runGame: function () {
						var self = this;

						axios.post('https://localhost:44301/api/DemoGame/start', {
							"type": "TossCoin",
							"bet": self.playerBet,
							"betAmount": 0,
							"pubKey": self.pubKey,
							"sign": self.messageSign
						}).then(function (response) {

							self.log = response;

							axios.post('https://localhost:44301/api/DemoGame/end', {
								"gameId": response.data.gameId,
								"seed": self.seedData,
								"pubKey": self.pubKey,
								"sign": self.singMessage
							}).then(function (response2) {
								self.log = response2.data
							})
						});
					},
					oneClickGame: function () {
						this.prepareGame();
						this.runGame();
					}
				}
			})
		}
	</script>

</head>
<body>
	<script src="https://www.mobilefish.com/scripts/ethereumjs/ethereumjs-util.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/random-js/1.0.8/random.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<div id="app">
		<p>
			playerBet
			<input v-model="playerBet">
		</p>
		<p>
			seedData
			<input v-model="seedData">
		</p>
		<p>
			message
			<input v-model="message">
		</p>
		<p>
			pk:
			<input v-model="privateKey">
		</p>

		<p>{{ messageSign }}</p>

		<p>{{ log }}</p>

		<button v-on:click="prepareGame">prepare</button>
		<button v-on:click="runGame">run Game</button>
		<button v-on:click="oneClickGame">one Click Game</button>

	</div>
</body>
</html>
