@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "RESTORE PASSWORD";
}


<div class="login-window">
                        <div class="login-window-header reset-window-header">
                            <div class="login-window-header-title">@ViewData["Title"]
                                </div>
                            <div class="header-sub-div">
                                <span>Back to</span>
                                <a href="~/Identity/Account/login" class="login-link">LOGIN</a>
                                <a href="~/Identity/Account/register" class="login-link reg-link">Registration</a>
                            </div>
                            
                        </div>
                        <form class="login-window-main" method="post">
                                <div class="single-input">
                                    <div class="single-input-title">email</div>
                                    <input asp-for="Input.Email" type="email" class="input-type-text" required="" placeholder="Username@gmail.com">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
        
            
                                <button class="main-btn green-btn static-btn static-btn-gradient">restore</button>
            
                        </form>
                    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
