@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="loader-main login-wrapper">
                    <div class="login-window">
                        <div class="login-window-header">
                            <div class="login-window-header-title">@ViewData["Title"]</div>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">Registration</a>
                        </div>
                        <form class="login-window-main" method="post">
                                <div class="single-input">
                                    <div class="single-input-title">Username</div>
                                    <input asp-for="Input.Email" type="text" class="input-type-text" required="" placeholder="Username">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="single-input">
                                    <div class="line-input-titles">
                                    <div class="single-input-title">Password</div>
                                    <a asp-page="./ForgotPassword" class="login-link">Forgotten password?</a>
                                </div>
                                    <input asp-for="Input.Password" type="password" class="input-type-text" required="" placeholder="********">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <button class="main-btn green-btn static-btn static-btn-gradient">LOGIN</button>
                                <div class="rememberme-line">
                                        <input asp-for="Input.RememberMe" id="check" type="checkbox" class="checkbox-transaction">
                                        <label for="check" class="line-label">
                                            <div class="checkbox-box"></div>
                                            <div class="title-remember-me">Remember Me</div>
                                        </label>
                                </div>
                        </form>
                    </div>
                </div>

<!-- <div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"> Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">

    </div>
</div> -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
