@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="loader-main login-wrapper registration-wrapper">
                <div class="login-window">
                    <div class="login-window-header">
                        <div class="login-window-header-title">@ViewData["Title"]</div>
                        <div class="header-sub-div">
                            <span>Back to</span>
                            <a href="~/Identity/Account/login" class="login-link">LOGIN</a>
                        </div>
                        
                    </div>
                    <form class="login-window-main" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="single-input">
                                <div class="single-input-title">email</div>
                                <input type="email" asp-for="Input.Email" class="input-type-text" required="" placeholder="Username@gmail.com">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="single-input">
                                <div class="single-input-title">Password</div>
                                <input asp-for="Input.Password" type="password" class="input-type-text" required="" placeholder="********">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="single-input">
                                <div class="single-input-title">Repeat password</div>
                                <input asp-for="Input.ConfirmPassword" type="password" class="input-type-text" required="" placeholder="********">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button class="main-btn green-btn static-btn static-btn-gradient">Register</button>
                            <div class="rememberme-line">
                                    <input id="check" type="checkbox" class="checkbox-transaction">
                                    <label for="check" class="line-label">
                                        <div class="checkbox-box"></div>
                                        <div class="title-remember-me">I agree with <a href="https://sp8de.com/privacy/" class="login-link">Privacy Policy</a></div>
                                    </label>
                            </div>
                    </form>
                </div>
            </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
