<div class="container">
  <!--<div class="score">{{score}}</div>-->
  <div *ngIf="!loaded" class="loading">
    <img src="../../assets/images/loading.svg" alt="">
  </div>
  <div *ngIf="loaded" class="content-block">
    <div class="back" routerLink="../">
      <div>
        <i class="material-icons">
          keyboard_arrow_left
        </i>
      </div>
      <div>
        Back
      </div>
    </div>

    <div class="ungle">
      <app-user [user]="user" *ngIf="user"></app-user>
    </div>
    <div class="game column">
      <app-preferences [type]="type"
                       [items]="items"
                       [bets]="bets"
                       [started]="user?.history?.length || 0"
                       [title]="title"
                       (onStart)="start($event)"></app-preferences>
    </div>
    <div class="winners column" [ngClass]="{'hide': currentWin === undefined}">
      <div class="column-block" *ngIf="currentWin!== undefined">
        <app-result [result]="currentWin"></app-result>
      </div>
    </div>
    <div class="statistics column" [ngClass]="{'hide': !user?.history?.length || 0}">
      <div class="column-block">
        <app-history [history]="user.history" [type]="type"></app-history>
      </div>
    </div>
  </div>
</div>
